seed: 42
test_only: False

model:
  name: 'LightMultiModalNN'
  parameters:
    tabular_hidden_dim: 128
    tabular_out_dim: 384
    tabular_dropout: 0.3
    classifier_hidden_dim: 64
    classifier_dropout: 0.2    

training:
  loss_fn: 'BCE'
  optim:
    name: 'AdamW'
    parameters:
      lr:  0.001
      weight_decay: 0.01
  batch_size: 10
  num_workers: 20
  epochs: 1000
  train_steps: 500
  valid_steps: 1000
  patience: 5
  max_norm: 0.01

testing:
  enabled: True
  test_size: 100159
  batch_size: 16
  num_workers: 20
  run: 22
  
data:
  image_dir: '../../data/train-image/image'
  metadata_file: '../data/ppcMetadata.csv'

logging:
  log_dir: '../logs'