seed: 42
test_only: False

model:
  name: 'CrossModalTransformer'
  parameters:
    cont_features: 31
    bin_features: 6
    image_size: 448

testing:
  enabled: True
  test_size: 100159
  batch_size: 16
  num_workers: 20
  run: 0

training:
  loss_fn: 'BCE'
  learning_rate: 0.0001
  weight_decay: 0.01
  batch_size: 16
  num_workers: 20
  epochs: 50
  train_steps: 500
  valid_steps: 500
  patience: 5
  
data:
  image_dir: '../data/train-image/image'
  metadata_file: '../data/ppcMetadata.csv'

logging:
  log_dir: 'logs'