seed: 42
test_only: False

model:
  name: 'MetaLearner'
  parameters:
    cont_features: 31
    bin_features: 6

training:
  loss_fn: 'BCE'
  optim:
    name: 'AdamW'
    parameters:
      lr:  0.001
      weight_decay: 0.01
  batch_size: 10
  num_workers: 20
  epochs: 100
  train_steps: 500
  valid_steps: 1000
  patience: 5

testing:
  enabled: True
  test_size: 100159
  batch_size: 16
  num_workers: 20
  run: 22
  
data:
  image_dir: '../../data/train-image/image'
  metadata_file: '../data/ppcMetadata.csv'

logging:
  log_dir: '../logs'